# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Set Up

00_global_deployment_guide.md
1_database_deployment_neon.md
2_backend_deployment_render.md
3_frontend_deployment_vercel.md
4_free_domain_setup.md
6_docker_deployment_guide.md